*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}

.card {
    width: 300px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.about{
    font-family: Arial, Helvetica, sans-serif;
}

.skill{
    background: rgb(255, 255, 255);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.705);
    transition: transform .2s ease;
    align-items: center;
    text-transform: none;
    text-align: center;
    font-size: 20px;
    font-weight: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.skill:hover {
    transform: translateY(-5px);
  }
