* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

main {
  width: 350px;
  background-color: purple;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* align-items: center; */
  background-color: #0b132b;
}

.card {
  width: 250px;
  height: 250px;
  border-radius: 12px;
  overflow: hidden;
  margin: 0 auto;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.about {
  font-family: Arial, Helvetica, sans-serif;
  color: #f8fafc;
  text-align: center;
}

h1 {
  text-align: center;
}

.skill {
  background: rgba(255, 255, 255, 0.171);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.705);
  transition: transform 0.2s ease;
  align-items: center;
  text-transform: none;
  text-align: center;
  font-size: 20px;
  font-weight: 100px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}
.skill:hover {
  transform: translateY(-5px);
}
